@model List<LiveTiles.Controllers.TweetDisplay>
           

<div class="container" >
    <table class="table" >
        <thead>
            <tr>
                <th></th>
                <th>Tweet</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var t in @Model)
            {
            <tr>
                <td><img src="@t.ImageUrl" width="42" height="42"></td>
                <td>
                    <h4>@t.Author</h4>
                    <small>@t.Tweet</small>
                </td>
            </tr>
           }
        </tbody>
    </table>
</div>
